@import "../../lib/base/css/globalStyle";
 
.order_refundDetails{
	.mediaItem::after{
		left: 0;
	}
	.store_num{ 
		.mediaItem .mediaItem-body{
			.base-fr{
				color: #f20;
			}
		}
	}
	.store_info{
		.mediaItem {
			.mediaItem-body {
				padding-left: 0;
			}
		}
	}
	.labelInput{
    	.base-after-line,.pdBottom6 {
            &::after{
                left: 0;
            } 
        } 
    }
    .refund_list{
    	padding: pxToRem(10px);
    	background:#fff;
    	p{
    		margin-bottom: pxToRem(5px);
    		font-size: pxToRem(12px);
    		color: #888;
    	}
    }
	.upload_alum_img{
		background: #fff;
		overflow: hidden;
		padding:pxToRem(10px);
		ul{
			overflow: hidden;
		}
		li{
			background: #eee;
			width: 31%;
			float: left;
			padding:pxToRem(8px);
			max-height: pxToRem(90px);
			box-sizing:border-box;
			text-align: center;
			margin-right: 3.33%;
			position: relative;
			overflow: hidden;
			input[type='file']{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top:0;
				opacity: 0;
				filter: alpha(opacity=0);
			}
			img{
				/* width: pxToRem(50px);
				height: pxToRem(50px); */
				width: 100%;
				vertical-align: middle;
			}
			&:last-of-type{
				margin-right: 0;
			}
		}
		p{
			margin-top:pxToRem(10px);
			color:#999;
		}
	}
}