@import "../../lib/base/css/globalStyle";
 
.member_recharge{
	.myInt{
		padding: pxToRem(40px) 0;
		background:#E2682D url(../../general/common/image/meun_title_bg.png) no-repeat left bottom;
		background-size:100%;
		text-align: center;
		color: #fff;
		img{
			width: pxToRem(80px);
			height: pxToRem(80px);
		}
		.newInt{
			font-size: pxToRem(10px);
			color: #fff;
		}
		.intNum{
			font-size: pxToRem(30px);
			font-weight: 500;
			margin-top: pxToRem(5px);
			em{
				font-size: 12px;
			}
		}
	}
	.rechargeTips{
		padding: pxToRem(10px);
		font-size: pxToRem(14px);
		color: #4688DA;
		div.base-tr{
			background:#fff;
			color: #FA6A6F;
			padding: pxToRem(4px);
		}
	}
	div.tips{
		color: #FA6A6F;
		padding:pxToRem(4px) pxToRem(12px);
		display: none !important;
		&.show{
			display: block  !important;
		}

	}
	.rechargeBtn{
		padding: pxToRem(8px) 0;
		margin-top: pxToRem(20px);
		background: #999999;
		text-align: center;
		font-size: pxToRem(14px);
		color: #fff;
		&.show{
			background: #E2682D;
		}
	}
	.pay_number_item{
		overflow: hidden;
		background: #fff;
		padding: pxToRem(11px) pxToRem(15px);
		border-bottom: 1px solid #eee;
		em{
			font-size: pxToRem(10px);
			color: #333;
		}
		.base-fl{
			margin-top: pxToRem(3px);
			font-size: pxToRem(12px);
			color: #E2682D; 
		}
	}
	.radio_box{
		display: inline-block;
		width: pxToRem(20px);
		height:pxToRem(20px);
		background:url(../../general/common/image/icon_checked_default.png) no-repeat center center;
		background-size:pxToRem(20px) pxToRem(20px);
		position: relative;

		.opcity_layer{
			position: absolute;
			top:0;
			left: 0;
			display: inline-block;
			width: pxToRem(20px);
			height:pxToRem(20px);
			z-index: 1;
		}
		input[type='radio']{
			position: absolute;
			top:0;
			left: 0;
			display: inline-block;
			width: pxToRem(20px);
			height:pxToRem(20px);
			opacity: 0;
			filter: alpha(opacity=0);
			z-index: 2;
		}
		input[type='radio']:checked + .opcity_layer {
			background:url(../../general/common/image/icon_checked_sed.png) no-repeat center center;
			background-size:pxToRem(20px) pxToRem(20px);
		}
	}



	.labelInput{
		/* text-align:left;
		div{
			padding:0;
			margin:pxToRem(1px) 0;
		 }
		label{
			display: inline-block;
		    vertical-align: middle;
		    margin-right: 5px;
		} */
		input{
			text-align:left;
			/* margin-top:pxToRem(15px); */
		}
	}

}
