@import '../../../lib/base/css/globalStyle';
/*
* @Author: 卢旺
* @Date:   2016-08-17 15:44:58
* @Last Modified by:   卢旺
* @Last Modified time: 2016-12-30 11:35:26
*/
.store_order_submit{
	.store_delivery{
		margin-bottom: pxToRem(1px);
		background:#fff;
		.labelTit{
			width: 25%;
			line-height: pxToRem(40px);
			border-right: 1px solid #DBDBDB;
			text-indent: pxToRem(15px);
			font-size: pxToRem(11px);
			float: left;
		}
	}
	.scroll{
		height:90%;
	}
	.order_part{
		padding: pxToRem(15px) pxToRem(10px);
		background: #fff;
		position: relative;
		&.psfs_div{
			height: pxToRem(54px);
		}
		&::after{
			left: 0;
		}
	}
	.detail-type {
	    margin: 0;
	    padding-bottom: pxToRem(3px);
	    box-sizing: border-box;
	    // overflow: hidden;
		.base-iconRight:after{
			right: 0;
		}
	    span {
		    font-size: pxToRem(11px);
		    color: #333;
		    &:first-of-type {
			    float: left;
			}
			&.psfs{
				margin-top: pxToRem(4px);
			}
		}
		div{
		    margin-bottom: 0;
			font-size: pxToRem(13px);
			position: relative;
			color: #666;
			&.is_right:after{
				top: 15%;
			}
		    &.dl_goods{
				span{
					margin-right: pxToRem(5px);
					display: inline-block;
					img{
						margin-top: pxToRem(-3px);
						width: 24px;
	    				vertical-align: middle;
					}
				}
			}
		}
		i {
		    font-style: normal;
		    margin: 0 pxToRem(5px);
		    display: inline-block;
		    color: #000;
		    font-size: pxToRem(14px);
		}
		p{
			margin: 0;
			font-size: pxToRem(10px);
			text-align: right;
			&.ml{
				margin-left:pxToRem(90px);
			}
		}
	}
	.store_del_info{
		.timeLabel{
			.con{
				padding-left: pxToRem(10px);
			}
		}
		.labelInput{

	        .base-after-line,.pdBottom6,div{
	        	padding-left: pxToRem(10px);
	            &::after{
	                left: 0;
	            }
	            .base-fr{
	                color: #333;
	            }
	            label{
	            	color: #333;
	            }
	        }
	        input{
	        	height: pxToRem(18px);
	            padding-right: 0;
	            float: right;
	            color: #333;
	        }
	        input[type='date']{
				&::-webkit-datetime-edit-text { padding: 0 .3em; }
				&::-webkit-inner-spin-button { visibility: hidden; display: none; }
				&::-webkit-clear-button{display: none;}
				&::-webkit-calendar-picker-indicator {
				    border: 1px solid #ccc;
				    border-radius: 2px;
				    box-shadow: inset 0 1px #fff, 0 1px #eee;
				    background-color: #eee;
				    background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
				    color: #666;
				    opacity: 1;
				}
	        }
	    }
	}
	.shopC_submit_detail{
	    .mediaItem{
	    	padding-top: pxToRem(17px);
	    	padding-bottom: pxToRem(17px);
	        &::after{
	            left: 0;
	        }
	    }
	    .labelInput{
	        .pdBottom6,div{
	        	padding-left: pxToRem(10px);
	        	padding-right: pxToRem(10px);
	            &::after{
	                left: 0;
	            }
	            .base-fr{
	                color: #333;
	            }
	        }
	        input{
	            padding-right: 0;
	            float: right;
	            color: #333;
	        }
	    }
	    .goodsGroup li .goods_info {
	        .good_num{
	            span{
	                font-size: pxToRem(13px);
	                color: #DB6B2C;
	            }
	            p{
	                // display: none;
	            }
	        }
	    }
	    .order_part{
			padding-top: pxToRem(16px);
			padding-bottom: pxToRem(16px);
	    }
	    .mjly{
			.labelInput .pdBottom6,.labelInput div{
				padding-top: pxToRem(15px);
				padding-bottom: pxToRem(15px);
			}
	    }
	}
	.shopC_submit{
	    width: 100%;
	    height: pxToRem(44px);
	    background:#fff;
	    position: fixed;
	    left: 0;
	    bottom: 0;
	    .shopC_rel{
	        height: pxToRem(44px);
	        line-height: pxToRem(44px);
	        padding-right: 30%;
	        font-size: pxToRem(12px);
	        text-align: right;
	        position: relative;
	        color: #999;
	        em{
	        	font-size: pxToRem(14px);
	            font-weight: bold;
	            color: #DB6B2C;
	        }
	        .shopC_buy{
	            width: 28%;
	            height: pxToRem(44px);
	            line-height: pxToRem(44px);
	            background:#DB6B2C;
	            text-align: center;
	            font-size: pxToRem(14px);
	            color: #fff;
	            position: absolute;
	            right: 0;
	            bottom: 0;
	        }
	    }
	}
	.card-popover{
		position: fixed;
		z-index: 999;
		bottom: 0;
		width: 100%;
		-webkit-transition: -webkit-transform .3s, opacity .3s;
		transition: transform .3s, opacity .3s;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		border-radius: 0;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		&.active{
			transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			opacity: 1;
		}
		ul{
			margin: 0;
			padding: pxToRem(20px) pxToRem(15px);
			background: rgba(0,0,0,0.6);
			position: relative;
			list-style: none;
			box-sizing: border-box;
			max-height: none;
			li{
				margin-bottom: pxToRem(15px);
				border-radius: pxToRem(10px);
				background: #fff;
				position: relative;
				overflow: hidden;
				padding: pxToRem(11px) pxToRem(15px);
				font-size: pxToRem(14px);
				&.disable{
					background: #ccc;
				}
				&:after{
					display: none;
				}
				a{
					position: relative;
					display: block;
					overflow: hidden;
					margin: pxToRem(-11px) pxToRem(-15px);
					padding: inherit;
					white-space: nowrap;
					text-overflow: ellipsis;
					color: inherit;
					> img {
						width: pxToRem(42px);
						margin-right: pxToRem(5px);
					}
					.payWayTextUp {
						color: #000;
						font-family: 微软雅黑;
					}
					.payWayTextDown {
						color: #999999;
						span:first-child {
							color: #F88C23;
						}
						span:last-child {
							color: #FF4C4C;
							transform: translateY(5px);
							-webkit-transform: translateY(5px);
							margin-left: pxToRem(5px);
						}
					}
				}
			}
		}
	}
}

