.after_order {
    .mediaItem {
        &:first-of-type {
            .mediaItem-wrap {
                .mediaItem-label {
                    .r_width {
                        color: #f20;
                    }
                }
            }
        }
        .mediaItem-wrap {
            .mediaItem-label {
                .r_width {
                    color: #999;
                }
            }
        }
    }
    .timeLog {
        padding: 10px 10px 0;
        background: #fff;
        line-height: 20px;
        font-size: 12px;
        color: #999;
        &:last-of-type {
            padding-bottom: 10px;
        }
    }
    .photoNum {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .apply_img:nth-child(2) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .apply_tips {
        padding: 10px;
        font-size: 12px;
        color: #999;
    }
}