@import '../../../lib/base/css/globalStyle';
/*
* @Author: 代汉桥
* @Date:   2016-07-28 09:19:59
* @Last Modified by:   代汉桥
* @Last Modified time: 2016-08-11 17:28:59
* 多选列表
*/
.selectList{
    .selectItem{
        padding:pxToRem(10px);
        align-items: center;
        @extend .display-flex;
        @extend .flex-between;
        border-bottom:1px solid #e9e9e9;
        height:pxToRem(24px);
        font-size:pxToRem(14px);
        .colorShow{
            @extend .display-flex;
            .colorValue{
                height:pxToRem(24px);
                width:pxToRem(24px);
                margin-right: pxToRem(10px);
                @extend .flex-vc;
                border-radius:3px;
                border:1px solid #999;
            }
        }
        img{
            vertical-align:middle;
            height:pxToRem(24px);
            width:pxToRem(24px);
        }
    }
}
