@import "../../lib/base/css/globalStyle";
html,body,.base-container,.goodDetails{
	height: 100%;
	box-sizing: border-box;
}
.goodDetails{
	@extend .display-flex;
	@extend .flex-dv;
	padding-bottom: pxToRem(44px);
	.scroll-container{
		@extend .display-flex;
		@extend .flex-dv;
		@extend .flex1;
	}
	.scroll .vertical{
		background-color: transparent;
	}
	.goodsWrap{
		padding: pxToRem(10px);
		background:#fff;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		// box-shadow: 2px 2px 5px #666;
		.spreadCon{
			opacity: 1;
			transform: translate(0px,0px);
			 -webkit-transform: translate(0px,0px);
			transition: all 0.35s;
			-webkit-transition: all 0.35s;
			height: 100%;
			&.spread-hide{
				opacity: 0;
				height: 0;
				transform: translate(0px,-100%);
				-webkit-transform: translate(0px,-100%);
			}
		}
		&.goStore,&.goodDetail{
			padding:0;
		}
		h1{
			margin: auto;
			color: #333;
			font-size: pxToRem(14px);
			font-weight: 500;
		}
		.goodsNewPrice{
			margin-top: pxToRem(5px);
			margin-bottom: pxToRem(2px);
			font-size: pxToRem(16px);
			color: #E0682E;
			em{
				i{
					font-style: normal;
					font-weight: 500;
					font-size: pxToRem(12px);
				}
				font-weight: bold;
				font-style: italic;
			}
		}
		.goodsOldPrice{
			color: #888;
		}
		.storeApprove{
			padding: pxToRem(4px) pxToRem(10px);
			width: 100%;
			display: table;
			box-sizing: border-box;
			span{
				width: 33.333%;
				padding: pxToRem(10px) 0;
				display: table-cell;
				font-size: pxToRem(10px);
				color: #333;
				img{
					margin-right: pxToRem(10px);
					width: pxToRem(14px);
					vertical-align: bottom;
				}
			}
		}
		.mediaItem {
			.mediaItem-body {
				.base-fr{
					color: #999;
				}
			}
		}

	}
	.container-3 .scroll{
		height: 100%;
	}
	/*商品详情*/
	.goodDetail{
		//min-height: pxToRem(500px);
		&.noImg{
			@extend .display-flex;
			@extend .flex-dv;
			.notData {
				div{
					img{
						margin: auto;
						width: pxToRem(80px);
						margin-bottom: pxToRem(8px);
						display: initial;
					}
					p{
						margin-top: 0.3125rem;
						font-size: 0.40625rem;
					}
				}
			}
			/*div{
				@extend .flex1;
				text-align: center;
				img{
					margin: auto;
					width: pxToRem(80px);
				}
				p{
					margin-top: pxToRem(20px);
					font-size: pxToRem(14px);
					color: #666;
				}
				.notData div p {
					margin-top: 0.3125rem;
					font-size: 0.40625rem;
				}
			}*/
		}
		img{
			width: 100%;
			height: inherit !important;
			display: block;
		}
		p{
			width: 100%;
			overflow: hidden;
		}
	}
	/*销售记录*/
	.goodsMarket{
		background:#fff;
		height: 100%;
		.markeTable{
			width: 100%;
			border-collapse: collapse;
			text-align: center;
			thead td{
				border-top: 1px solid #eee;
				color: #333;
			}
			td{
				padding: pxToRem(3px) pxToRem(10px);
				height: pxToRem(30px);
				width: 42%;
				border-bottom: 1px solid #eee;
				color: #999;
				&:nth-child(2){
					width: 16%;
				}
				&.noImg{
					padding: 0 0;
					text-align: center;
					color: #666;
					border-bottom:none;
					img{
						margin-bottom: pxToRem(8px);
					}
				}
			}
		}
	}
	/*评价信息*/
	.goodsEva{
		height: 100%;
		background:#fff;
		@extend .display-flex;
		@extend .flex-dv;
		.evaGroup{
			margin-top: pxToRem(10px);
			width: 100%;
			display: table;
			border-bottom: 1px solid #eee;
			border-top: 1px solid #eee;
			span{
				width: 25%;
				padding: pxToRem(7px) 0;
				display: table-cell;
				background:#fff;
				text-align: center;
				button{
					width: 80%;
					margin: auto;
					padding: pxToRem(3px) pxToRem(5px);
					background-color: #fff;
					border-color: #fff;
					border-radius: pxToRem(15px);
					font-size: pxToRem(10px);
					color: #333;
				}
				&.active{
					button{
						width: 80%;
						margin: auto;
						padding: pxToRem(3px) pxToRem(5px);
						background-color: #e16830;
						// border-color: #e16830;
						border-radius: pxToRem(15px);
						font-size: pxToRem(10px);
						color: #fff;
					}
				}
			}
		}
		.evaList{
			li{
				margin-top: pxToRem(10px);
				background:#fff;
				font-size: pxToRem(10px);
				.evaUser,.eavDetail,.evaType{
					border-bottom: 1px solid #eee;
				}
				.evaUser,.evaType{
					padding: pxToRem(8px) pxToRem(10px);
					color: #888;
				}
				.eavDetail{
					padding: pxToRem(10px);
					font-size: pxToRem(12px);
					color: #333;
				}
				&.noImg{
					//padding: pxToRem(20px) 0;
					text-align: center;
					color: #666;
					margin-top: 0;
					img{
						margin: auto;
						margin-bottom: pxToRem(8px);
					}
				}
				.store{
					div{
						color: #E93E4B;
					}
				}
			}
		}
	}

	/*商品规格*/
	.goodType{
		width: 100%;
		background:#fff;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translate(0 , 100%);
		opacity: 0;
		&.anim{
			transform: translate(0px,0px);
			opacity: 1;
			transition: all 0.35s;
			-webkit-transition: all 0.35s;
		}
		.typeHead,.typeNorms,.typeNum{
			padding: pxToRem(10px);
		}
		.typeHead{
			border-bottom: 1px solid #eee;
			position: relative;
			.cartImg{
				padding: pxToRem(5px);
				width: pxToRem(70px);
				height: pxToRem(70px);
				background:#fff;
				border: 1px solid #eee;
				border-radius: 3px;
				position: absolute;
				left: pxToRem(10px);
				top: pxToRem(-38px);
				img{
					width: 100%;
					height: 100%;
				}
			}
			.cartTit{
				margin-left: pxToRem(90px);
				h2{
					font-weight: 500;
					font-size: pxToRem(12px);
				}
				.cartPrice{
					font-size: pxToRem(12px);
					color: #E0682E;
					em{
						font-style: italic;
						font-weight: bold;
						font-size: pxToRem(14px);
					}
					span{
						margin-top: pxToRem(4px);
						font-size: pxToRem(10px);
						color: #888;
					}
				}
			}
			.cartClose{
				height: pxToRem(55px);
				position: absolute;
				right: pxToRem(10px);
				top: pxToRem(-50px);
				img{
					width: pxToRem(20px);
					height: pxToRem(20px);
					display: block;
				}
				&::after{
					content: "";
					width: 1px;
					height: pxToRem(25px);
					background:#fff;
					position: absolute;
					right: pxToRem(10px);
					top: pxToRem(20px);
				}
			}
		}
		.typeNorms{
			padding: pxToRem(5px) pxToRem(10px) 0;
			h3{
				padding: 0 0 pxToRem(10px) 0;
				font-weight: 500;
				font-size: pxToRem(12px);
				color: #000;
			}
			ul{
				overflow: hidden;
				li{
					margin-right: 3.3%;
					margin-bottom: pxToRem(10px);
					float: left;
					span{
						padding: pxToRem(5px) pxToRem(10px);
						display: inline-block;
						border: 1px solid #dcdcdc;
						border-radius: pxToRem(3px);
						text-align: center;
						font-size: pxToRem(12px);
						color: #333;
					}
					&.active{
						span{
							border-color: #E0682E;
							color: #E0682E;
						}
					}
					&.noStorage{
						span{
							border-color: #dcdcdc;
							color: #dcdcdc;
						}
					}

				}
			}
		}
		.typeNum{
			// margin-bottom: pxToRem(10px);
			padding: pxToRem(10px) 0 pxToRem(15px) pxToRem(10px);
			border-top: 1px solid #eee;
			&.base-border{
				border: 0;
			}
			h3{
				padding: 0 0 0.3125rem 0;
			    font-weight: 500;
			    font-size: 0.375rem;
			    color: #000;
			}
			.limit-num{
				font-size: 12px;
				color: #999;
				margin-left: 6px;
			}
			.numBox{
				width: pxToRem(120px);
				height: pxToRem(25px);
			}
		}
		.typeBuy{
			width: 100%;
			button{
				padding: 0;
				width: 100%;
				height: pxToRem(44px);
				line-height: pxToRem(44px);
				border:none;
				border-radius: 0;
				background:#E2682D;
				box-sizing: border-box;
				font-size: pxToRem(14px);
				color: #fff;
				&.shopCar{
	                background: #E2682D;
	            }
				&.disabled{
					background: #999;
				}
			}
		}
	}
	// .slider{
	// 	.pagination{
	// 		.bullet{
	// 			width: pxToRem(5px);
	// 			height: pxToRem(5px);
	// 			background: transparent;
	// 			border-radius: 50%;
	// 			border: 1px solid #dcdcdc;
	// 			&.active{
	// 				border: 1px solid #999;
	// 				background: #999;
	// 			}
	// 		}
	// 	}
	// }
}
