@import '../../../lib/base/css/globalStyle';
/*
* @Author: 卢旺
* @Date:   2016-08-17 15:44:58
* @Last Modified by:   卢旺
* @Last Modified time: 2016-11-29 14:46:13
*/
.order_list_wrap{
		.mediaItem{
			&::after{
				height: 0; 
				left: 0; 
			}
		}
		.store_num,.store_price,.store_info{			
			margin: 0;
			border-bottom: 1px solid #f1f1f1;
		}
		.store_num{
			.mediaItem{				
				.mediaItem-body{
					.base-fr{
						color: #f20;
					}
				}	
			} 
		}
		.store_info{ 
			border-bottom: none;
			.mediaItem {				
				.mediaItem-body {
					padding-left: 0;
				}
			}
		} 
		.order_handle{
			padding: pxToRem(10px);
			background:#fff;
			text-align: right;
			.base-btn{
				border-radius: pxToRem(2px);
				margin-left: pxToRem(10px);
				font-size: pxToRem(10px);
				&.goBuy{
					border-color: #f20;
					color: #f20;
				}
			}
		}
	}
