@import "../../lib/base/css/globalStyle";
.apps_integration_orderDetail{ 
	padding-bottom: pxToRem(45px);
	box-sizing: border-box;
	.input_wrap{
		overflow: hidden;
		padding:pxToRem(5px) pxToRem(15px);
		background: #fff;
		padding-bottom: pxToRem(10px);
		p{
			overflow: hidden;
			margin-top: pxToRem(5px);
			&.titmes{
				color: #999;
			}
		}
	} 
	.goodsWrap{
		position: relative;
		padding: pxToRem(10px) 0 !important;
		padding-bottom: pxToRem(10px);
		background:#fff;
		.goods_img{
			margin-left: pxToRem(15px);
			width: pxToRem(50px);
			height: pxToRem(50px);
			float: left;
		}
		.goods_info{
			margin-left: pxToRem(72px);
			padding-right: pxToRem(65px);
			position: relative;
			height: pxToRem(50px);
			line-height: 1.3;
			overflow: hidden;
			.good_tit{
				font-size: pxToRem(12px);
				color: #333;
			}
			p{ 
				font-size: pxToRem(12px);
				position: absolute;
				bottom: 0;
				color: #999;
				right: pxToRem(15px);
			}
			.s_time{
				position: absolute;
				bottom: 0;
				color: #999;
				.points{
					color: #F06D42;
    				font-weight: bold;
					font-size: pxToRem(14px)
				}
			}
		}
	}
	.input_wrap span.base-fr{ 
		color: #F06D42;
	}
	.input_wrap_number span.base-fr{
		color: #F06D42;
		font-weight: bold;
	}
	 
	.tips{
		color: #444;
		padding: pxToRem(10px);
		background: #fff;
		border-bottom: 1px solid #eee;
		span{
			color:#F06D42;
		} 
	}
	.qr_code{
		text-align: center;
		padding:pxToRem(20px);
		background: #fff;
		img{
			width:pxToRem(100px);
			height: pxToRem(100px);
		}
		p{
			margin-top: pxToRem(5px);
		}
	}

	.links{
		background: #fff;
		padding:pxToRem(10px) pxToRem(15px);
		overflow: hidden;
		span{
			padding:pxToRem(5px) pxToRem(10px);
		}	
		.btn_start{
			border:1px solid #F06D42;
			color: #F06D42;
			padding:pxToRem(5px) pxToRem(15px);
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			border-radius:pxToRem(5px);
			&.disabled{
				background: #999;
				color: #fff;
				border:1px solid #999;
			}
		}
	}
	.callBtn{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	    padding: 0;
	    width: 100%;
	    height: pxToRem(45px);
	    line-height: pxToRem(45px);
	    border: none;
	    border-radius: 0;
	    background: #E2682D;
	    box-sizing: border-box;
	    font-size: pxToRem(14px);
	    color: #fff;
	}
}