@import '../../../lib/base/css/globalStyle';
/*
* @Author: 代汉桥
* @Date:   2016-10-18 14:33:05
* @Last Modified by:   代汉桥
* @Last Modified time: 2016-10-19 11:45:38
*/

.luckDetialCont{
    .blockTitle{
        .title{
            border-bottom: 1px solid #eee;
        }
        .content-wrap{
            p{
                line-height: 1.5;
                font-size: pxToRem(12px);
                color: #666;
            }
        }
    }
}