@import "../../lib/base/css/globalStyle";
.address_manage{
	.addr_item{
		padding: pxToRem(10px) 0;
		padding-left: pxToRem(30px);
		margin-bottom: pxToRem(10px);
		background: #fff; 
		// box-shadow: 0 2px 3px rgba(200,199,204,.5);
		position: relative;
		color: #999;
		&:last-of-type{
			margin-bottom:pxToRem(60px);
		}
		&.active{
			.user_info,.addr_type{
				color: #333;
			} 
		}
		.user_info{
			padding: 0 pxToRem(10px);
			font-size: pxToRem(11px);  
		}
		.user_addr{
			padding: pxToRem(5px) pxToRem(10px);
			padding-bottom: pxToRem(10px);
			position: relative;
			font-size: pxToRem(10px); 
			&:after{
				left: pxToRem(10px);
			}
		}
		.addr_type{
			padding: pxToRem(5px) pxToRem(10px) 0;
			font-size: pxToRem(11px);
			overflow: hidden; 
			img{
				margin-right: pxToRem(8px);
				width: pxToRem(12px);
				vertical-align: bottom;
			}
			span{
				margin-left: pxToRem(20px); 
			}
		}
		.setDefault{
			width: pxToRem(14px);
			position: absolute;
			left: pxToRem(10px);
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
	}

	.blockFixedBtn{
		.blockBtn{
			padding: 0;
			.base-btn-main{
				padding: 0;
				height: pxToRem(44px);
				line-height: pxToRem(44px);
				border-radius: 0;
				border-color: #e16830;
			}
		}
	}
}
