{
  "env": {
      "browser": true,
      "commonjs":true
  },
  "plugins": ["react"],
  "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
          "jsx": true,
          "impliedStrict":true,
          "regexYFlag": true,
          "regexUFlag": true
    },
    "sourceType":"module"
  },
  "parser": "babel-eslint",
  "globals": {
  },
  "rules": {
      "eqeqeq": [2, "allow-null"],
      "no-cond-assign": 2,
      "no-duplicate-case":2,
      "no-constant-condition":2,
      "no-empty":2,
      "no-extra-semi":2,//1
      "no-inner-declarations":[2,"both"],//1
      "no-invalid-regexp":2,
      "no-sparse-arrays":2,
      "no-unexpected-multiline":2,//1
      "no-unreachable":2,
      "use-isnan":2,
      "valid-typeof":2,
      "block-scoped-var":2,
      "curly": 2,
      "default-case":2,
      "guard-for-in":2,
      "no-alert":2,
      "no-else-return":2,
      "no-empty-pattern":2,
      "no-eq-null":2,
      "no-eval":2,
      "no-extra-bind":2,
      "no-fallthrough":2,
      "no-floating-decimal":2,
      "no-implied-eval": 2,
      "no-invalid-this":2,
      "no-loop-func":2,
      "no-redeclare":2,
      "no-script-url":2,
      "no-sequences":2,
      "no-unused-expressions":[2, { "allowShortCircuit": true, "allowTernary": true }],
      "no-shadow-restricted-names":2,
      "no-undef":2,
    //   "no-unused-vars":2,
      "no-use-before-define":2,
      "new-cap":2,
      "semi": 2,
      "no-var":2,
      "prefer-template":2
  }
}
