@import '../../../lib/base/css/globalStyle';
/*
* @Author: 代汉桥
* @Date:   2016-10-18 14:33:05
* @Last Modified by:   代汉桥
* @Last Modified time: 2016-10-19 11:45:38
*/
.addGoodsNum{
    padding: pxToRem(11px) pxToRem(15px);
    background:#fff;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
    .numBox{
        height: pxToRem(25px);
        background:#fff;
        position: absolute;
        right: pxToRem(15px);
        top: 50%;
        transform: translateY(-50%);;
        -webkit-transform: translateY(-50%);;
        border-color: #fff;
        float: right;
        .numbox-btn-minus,.numbox-btn-plus{
            line-height: 1.42;
            // border-color: #ccc;
            border-left: none;
            border-right: none;
            border-radius: 3px;
            // border:1px solid;
            background-color: #F3F3F3;
        }
    }
}   