@import '../../../lib/base/css/globalStyle';
/*
* @Author: 代汉桥
* @Date:   2016-10-18 14:33:05
* @Last Modified by:   代汉桥
* @Last Modified time: 2016-12-09 10:14:20
*/
.red_tips{
    width: 80%;
    background:#fff;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    &.anim{
        transform: translateY(-50%) scale(1);
        opacity: 1;
        transition: all 0.35s;
        -webkit-transition: all 0.35s;
    }
    h2,h3{
        font-weight: 500;
    }
    h2{
        padding: pxToRem(10px);
        background:#ED6127;
        font-size: pxToRem(12px);
        color: #fff;
        // position: relative;
        &::after{
            content: "";
            height: pxToRem(15px);
            width: 1px;
            background: #fff;
            position: absolute;
            right: pxToRem(13px);
            top: pxToRem(-18px);
        }
        .tipsClose{
            position: absolute;
            right: 0px;
            top: pxToRem(-45px);
            width: pxToRem(25px);
        }
    }
    .tips_cont{
        padding: pxToRem(20px) pxToRem(10px);
        // text-align: center;
        .contItem{
            margin-bottom: pxToRem(10px);
            &:last-of-type{
                margin-bottom: 0;
            }
            h3{
                margin-bottom: pxToRem(10px);
                font-size: pxToRem(12px);
                color: #888;
                &.r_color{//抽中增加此样式
                    color: #D0454F;
                }
            }
            p{
                font-size: pxToRem(12px);
                color: #333;
            }
        }
    }
}
